<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        .form{
            display: grid;
            justify-content: center;
            text-align: center;
            gap: 1rem;
        }
        input{
            margin: 1rem 0;
        }
    </style>
</head>
<body>
    <h1>Hello <%= name %></h1>
    <div class="form">
        <h2>Login Now</h2>
        <form action="/logout"  method="get">
           <br> <button type="submit">Logout</button>
        </form>
    </div>
</body>
</html>